body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: wait;
    background: #191970;
    min-height: 100vh; /* Minimum height to cover full viewport */
    color: #FD5E53;
}
